Django>=5.0.7
django-crispy-forms
crispy-bootstrap5
django-ckeditor
Pillow
mysqlclient
django-mysql
django-tinymce
xhtml2pdf
django-model-utils
openpyxl
pywhatkit
python-dotenv
whitenoise
gunicorn
Spire.Doc.Free